<div class="container-fluid">
    <div class="row my-3">
        <div class="col-12 col-md-4">
            <p class="h3">Leave requests</p>
        </div>
        <div class="col-12 col-md-8 text-right">
            <mat-button-toggle-group appearance="'legacy'" name="leaveStatusFilter" aria-label="Leave status"
                [(ngModel)]="leaveStatusFilter" (change)="leaveStatusGlobalChanged($event)">
                <mat-button-toggle value="APPLIED">Applied</mat-button-toggle>
                <mat-button-toggle value="INPROGRESS">Inprogress</mat-button-toggle>
                <mat-button-toggle value="APPROVED">Approved</mat-button-toggle>
                <mat-button-toggle value="REJECTED">Rejected</mat-button-toggle>
            </mat-button-toggle-group>

            <button class="ml-2 mt-2 mt-md-0" mat-flat-button color="primary" (click)="resetLeaveRequestFilteration()">
                Reset
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 p-2" *ngFor="let leave of filteredLeaveRequestList">
                    <div class="leave-request-card">
                        <p class="h5">
                            {{leave.title}}
                        </p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <img src="assets/images/icons/employee.png" alt="employee icon" height="40">
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted" *ngIf="leave.employee; else noEmployee;">
                                    {{leave.employee.first_name}} {{leave.employee.last_name}}
                                </p>
                                <ng-template #noEmployee>
                                    <p class="text-muted">
                                        NOT AVAILABLE
                                    </p>
                                </ng-template>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-6">
                                <p class="h6 text-muted mb-0">Leave type</p>
                                <p>{{leave.leave_type_name}}</p>
                            </div>
                            <div class="col-6">
                                <p class="h6 text-muted mb-0">Day type</p>
                                <p>{{leave.day_type_name}}</p>
                            </div>
                        </div>

                        <div>
                            <div *ngIf="leave.day_type != 'MULTIDAY'; else noMultiDay">
                                <p class="h6 text-muted mb-0">Date</p>
                                <p>{{leave.start_date | date}}</p>
                            </div>
                            <ng-template #noMultiDay>
                                <div>
                                    <p class="h6 text-muted mb-0"> Date</p>
                                    <p>{{leave.start_date | date}} - {{leave.end_date | date}}</p>
                                </div>
                            </ng-template>
                        </div>

                        <div>
                            <p class="h6 text-muted mb-0">Reason</p>
                            <p>{{leave.reason}}</p>
                        </div>

                        <div class="progress">
                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                                *ngIf="leave.status === 'APPLIED' || leave.status === 'INPROGRESS' || leave.status === 'APPROVED' || leave.status === 'REJECTED'">
                                APPLIED
                            </div>
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 25%"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                                *ngIf="leave.status === 'INPROGRESS' || leave.status === 'APPROVED' || leave.status === 'REJECTED'">
                                INPROGRESS
                            </div>
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"
                                aria-valuenow="175" aria-valuemin="0" aria-valuemax="100"
                                *ngIf="leave.status === 'REJECTED' || leave.status === 'APPROVED'">
                                REJECTED
                            </div>
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"
                                aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"
                                *ngIf="leave.status === 'APPROVED'">
                                APPROVED
                            </div>
                        </div>

                        <div class="mt-3">
                            <mat-button-toggle-group class="button-toggle-leave-status" appearance="'legacy'"
                                name="leaveStatus" aria-label="Leave status"
                                (change)="leaveStatusChanged($event, leave)">
                                <mat-button-toggle value="INPROGRESS" [disabled]="leave.status == 'INPROGRESS'">
                                    INPROGRESS
                                </mat-button-toggle>
                                <mat-button-toggle value="APPROVED" [disabled]="leave.status == 'APPROVED'">
                                    APPROVE
                                </mat-button-toggle>
                                <mat-button-toggle value="REJECTED" [disabled]="leave.status == 'REJECTED'">
                                    REJECT
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>