<div class="container-fluid">
    <div class="row mt-3" *ngIf="employeeData">
        <div class="col-12 p-2">
            <div class="card-container">
                <div class="row">
                    <div class="col-4">
                        <p class="h6 text-muted">Name</p>
                        <p>{{employeeData.first_name}} {{employeeData.first_name}}</p>
                    </div>
                    <div class="col-4">
                        <p class="h6 text-muted">Email</p>
                        <p>{{employeeData.email}}</p>
                    </div>
                    <div class="col-4">
                        <p class="h6 text-muted">Phone</p>
                        <p>{{employeeData.phone}}</p>
                    </div>
                    <div class="col-4 mt-3">
                        <p class="h6 text-muted">Date of birth</p>
                        <p>{{employeeData.dob | date}}</p>
                    </div>
                    <div class="col-4 mt-3">
                        <p class="h6 text-muted">Team</p>
                        <p>{{employeeData.team_name}}</p>
                    </div>
                    <div class="col-4 mt-3">
                        <p class="h6 text-muted">Position</p>
                        <p>{{employeeData.position_name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2" *ngIf="leavesSummary">
        <div class="col-12 col-md-4 p-2">
            <div class="card-container">
                <p class="h6 text-muted">Casual leaves</p>

                <p class="h3 mb-0">{{leavesSummary.casual}} / 6</p>
            </div>
        </div>
        <div class="col-12 col-md-4 p-2">
            <div class="card-container">
                <p class="h6 text-muted">Earned leaves</p>

                <p class="h3 mb-0">{{leavesSummary.earned}} / 12</p>
            </div>
        </div>
        <div class="col-12 col-md-4 p-2">
            <div class="card-container">
                <p class="h6 text-muted">Sick leaves</p>

                <p class="h3 mb-0">{{leavesSummary.sick}} / 12</p>
            </div>
        </div>
    </div>
</div>