.hrm-toolbar {
    background: #d1e9ff !important;

    mat-icon,
    span {
        color: #212121;
    }
}

.header-icon {
    padding: 0 14px;
}

.header-spacer {
    flex: 1 1 auto;
}

.employee-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #0088ff;
    object-fit: cover;
}
