.hrm-toolbar {
    background: #2f2f2f !important;
}

.header-icon {
    padding: 0 14px;
}

.header-spacer {
    flex: 1 1 auto;
}

.employee-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #0088ff;
    object-fit: cover;
}
