<mat-sidenav-container class="hrm-mat-sidenav-container">
    <mat-sidenav #sidenav [mode]="mode" fixedInViewport="true" [(opened)]="isSidenavOpened"
        (closedStart)="onSidenavClosedStart()">
        <div class="sidenav-content-container">
            <div class="sidenav-content-header py-2 px-4">
                <img class="hrm-pointer" src="assets/images/logos/logo-horizontal.png" height="50"
                    routerLink="/dashboard">
            </div>
            <div class="sidenav-content-body p-4">
                <ul class="list-unstyled">
                    <li class="py-2" routerLink="/dashboard" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:true}" *ngIf="isHR">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-home mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                Home
                            </li>
                        </ul>
                    </li>
                    <li class="py-2" routerLink="/employees" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:true}" *ngIf="isHR">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-users mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                Employees
                            </li>
                        </ul>
                    </li>
                    <li class="py-2" routerLink="/employees/edit/0" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:
                        true}" *ngIf="isHR">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-user-plus mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                New Employee
                            </li>
                        </ul>
                    </li>
                    <li class="py-2" routerLink="/leaves/all" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:true}" *ngIf="isHR">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-calendar mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                Leave requests
                            </li>
                        </ul>
                    </li>
                    <li class="py-2" routerLink="/leaves/my-leaves" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:true}">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-calendar mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                My leave requests
                            </li>
                        </ul>
                    </li>
                    <li class="py-2" routerLink="/leaves/edit/0" routerLinkActive="activeLink"
                        [routerLinkActiveOptions]="{exact:true}">
                        <ul class="list-inline link-list">
                            <li class="list-inline-item">
                                <i class="las la-calendar-plus mr-2"></i>
                            </li>
                            <li class="list-inline-item">
                                New leave request
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="sidenav-content-footer px-4">
                <ul class="list-inline link-list" (click)="signout()">
                    <li class="list-inline-item">
                        <i class="las la-sign-out-alt mr-2"></i>
                    </li>
                    <li class="list-inline-item">
                        Logout
                    </li>
                </ul>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <hrm-header></hrm-header>

        <div style="height: 90vh; overflow: auto;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>